



@using (Html.BeginForm("FileUpload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Upload your Profile Image</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img id="user_img" height="100" width="90" style="border:solid" />
                    </div>
                    <br>
                    <label for="file">Upload Image:</label>
                    <div>
                        <input type="file" title="search image" id="file" name="file" onchange="show(this)" class="submit btn btn-default btn-flat" />
                    </div>
                    <input type="submit" value="Upload" class="submit btn btn-default btn-flat" />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Change your password.</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon resized" style="width: 142px;"><span class="text-danger" style="font-weight:900">*&nbsp;</span>Current password</span>
                            <input type="password" class="form-control form-control-sm password" name="OldPassword" id="OldPassword" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon resized" style="width: 142px;"><span class="text-danger" style="font-weight:900">*&nbsp;</span>New password</span>
                            <input type="password" class="form-control form-control-sm password" name="NewPassword" id="NewPassword" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon resized" style="width: 142px;"><span class="text-danger" style="font-weight:900">*&nbsp;</span>Confirm new password</span>
                            <input type="password" class="form-control form-control-sm password" name="ConfirmPassword" id="ConfirmPassword" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <div class="input-group">
                            <input type="checkbox" class="check_item filled-in chk-col-light-blue" id="ad0" onclick="myFunction()">     <label for="ad0" style="padding-right: 20px!important;"> Show Password</label>
                            <input type="button" value="Change password" class="btn btn-default btn-flat" onclick="changePassword()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


            <script type="text/javascript">
                function myFunction() {
                    var x = document.getElementById("OldPassword");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                    var y = document.getElementById("NewPassword");
                    if (y.type === "password") {
                        y.type = "text";
                    } else {
                        y.type = "password";
                    }
                    var z = document.getElementById("ConfirmPassword");
                    if (z.type === "password") {
                        z.type = "text";
                    } else {
                        z.type = "password";
                    }
                }

                function changePassword() {

                    if ($("#ConfirmPassword").val() != $("#NewPassword").val()) {
                        notify("Change Password", "New Password did not match", "error");
                    }
                    else {
                        var items = [];
                        var d = {
                            OldPassword: $("#OldPassword").val(),
                            NewPassword: $("#NewPassword").val(),
                            ConfirmPassword: $("#ConfirmPassword").val()
                        }
                        items.push(d);

                        $.ajax({
                            url: '/Account/Manage2',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            datatype: "json",
                            data: JSON.stringify({
                                OldPassword: $("#OldPassword").val(),
                                NewPassword: $("#NewPassword").val(),
                                ConfirmPassword: $("#ConfirmPassword").val(),
                                model: d
                            }),
                            datatype: "json",
                            success:
                                function (returnData) {
                                    if (returnData.message.Succeeded == true) {

                                        $("#OldPassword").val('');
                                        $("#NewPassword").val('');
                                        $("#ConfirmPassword").val('');

                                        notify("Change Password", "Password Successfully Updated..", "success");
                                        window.setTimeout(function () {
                                            window.location = '/';
                                        }, 3000);
                                    }
                                    else {


                                        notify("Change Password", returnData.message.Errors[0], "warning");
                                    }
                                },
                            error: function (jqXHR, textStatus, errorThrown) {
                            }

                        });
                    }

                }


                (function ($) {
                    $.fn.delayKeyup = function (callback, ms) {
                        var timer = 0;
                        $(this).keyup(function () {
                            clearTimeout(timer);
                            timer = setTimeout(callback, ms);
                        });
                        return $(this);
                    };
                })(jQuery);


            </script>
@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>