<link href="~/Content/css/ErrorPage.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 error-box">
        <div>
            Denied !
        </div>
        <p><span>Error 403 !</span> You do not have page access on this page. </p>
    </div>
</div>