
<header class="main-header">

    <!-- Logo -->
    <div class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>B</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="~/Content/images/Brother_Logo_White.png" alt="Brother" style="height:35px;" />
        </span>
    </div>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                @*<li class="dropdown user user-menu" data-placement="bottom" title="User Profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/Content/images/user2-160x160.jpg" class="user-image rounded" alt="User Image">
                        <i class=" fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu scale-up">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="" class="rounded float-left" alt="User Image">
                            <p>
                                Hello do it
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body" style="display:none;">
                            <div class="row">
                                <div class="col text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col text-center">
                                    <a href="#">Friends</a>
                                </div>
                                <div class="col text-center">
                                    <a href="#">Sales</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        @*<li class="user-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-block btn-info" id="chngepassbtn" onclick="btnChangePassword_OnClick()">Change Password</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-block btn-danger" id="logoutbtn" onclick="LogOff()">Sign out</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>*@
                
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar" data-placement="bottom" title="Theme Settings"><i class="fa fa-cog fa-spin"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>


