
<style>
    .lodding {
        padding-left: 20% !important
    }
</style>

<div id="loading_modal" class="modal lodding" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading_modal2" class="modal lodding" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="loading_modalD" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="loading_modalD_AttendanceRate" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="loading_modalD_AbsentRate" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="loading_modalD_Awol" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading_modalD_Leave" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading_modalD_OT" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="loading_modalD_Monthly" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="loading_modalD_Yearly" class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/images/ajax-loader[1].gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>