
@{
    ViewBag.Title = "ComputerRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Computer Station</h1>


</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Computer Details</h3>
        </div>
        <div class="box-body pad">
            <form action="" method="POST" role="form" id="ComputerForm">
                <input type="hidden" class="form-control input-sm" name="ID" id="ID" readonly="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span style="color:red;">*&nbsp;</span>Computer Name</span>
                                <input type="text" class="form-control" id="ComputerName" name="ComputerName">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span style="color:red;">*&nbsp;</span>IP Address</span>
                                <input type="text" class="form-control" id="ComputerIP" name="ComputerIP">
                            </div>

                        </div>
                    </div>
                </div>
             
                <div class="row">
                    <div class="col-md-6">
                        @*<div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span style="color:red;">*&nbsp;</span>Email Address</span>
                                    <input type="text" class="form-control" id="EmailAddress" name="EmailAddress">
                                </div>

                            </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Status</span>
                                <select class="form-control" name="Status" id="Status">
                                    <option value=true>Active</option>
                                    <option value=false>Inactive</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="offset-md-9 col-md-3">
                        <button type="submit" class="btn btn-flat bg-green btn-lg btn-block" id="Add_btn">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>


            </form>
            <div class="table-responsive">
                <table class="table table-striped table-no-bordered table-hover" style="width:100%;" id="ComputerTable"></table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="Computermodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Computer Email</h4>
                    <input type="hidden" id="AgencyCodehere" />
                </div>
                <div class="modal-body">

                    <div id="agencyemail">
                    </div>
                    <div class="row">
                        <div class="offset-md-8 col-md-3">
                            <button type="button" class="btn btn-flat bg-green btn-lg btn-block" id="AddAgencyEmail">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-flat bg-green btn-lg btn-block" id="SaveAgencyEmail">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Areas/Masters/Javascripts/ComputerRegistration.js"></script>
}

