.content-wrapper{
    background-color:#d8d8d8;
}
.error-box{
    text-align: center;
    position: relative;
}

.error-box div{
    width: 250px;
    height: 80px;
    line-height: 80px;
    color:#d8d8d8;
    background-color: #fff;
    font-size: 280%;
    position: relative;
    margin-top:400px;
    margin-left:40%;
    text-transform: capitalize;
    animation: moving 8s linear infinite;
  -webkit-animation: moving 8s linear infinite;
  -moz-animation: moving 8s linear infinite;
  -o-animation: moving 8s linear infinite;
  
    transform-origin: 50% -400%;
  -webkittransform-origin: 50% -400%;
  -moz-transform-origin: 50% -400%;
  -o-transform-origin: 50% -400%;
}

.error-box div:before{
    content: "";
    width: 25px;
    height: 25px;
    background-color:#fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left:40%;
    top:-350px;
}

.error-box div:after{
    content: "";
    width: 3px;
    height: 335px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 45%;
    top: -330px;
}

.error-box p{
    position: relative;
    margin-top:10px;
    margin-left:38%;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    width: 300px;
    margin-bottom:55px;
}

.error-box p span{
  display: block;
  font-size:300%
}

@keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-webkit-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-moz-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-o-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}
@media screen and (min-width:1024px) and (max-width:1439px){
    .error-box div:after{
        height:300px;
    }
}