
@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/vendor_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Templates
    </h1>
</section>
<section class="content">
    <div class="box box-primary">

        <div class="box-body pad">

            <div class="row">
                <div class="col-sm-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Overtime Form</h3>
                            <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>Template for Batch Upload of Overtime.</p>
                            <a href="../../Correction/Templates/DownloadTemplate?filename=OTForm.xlsx" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Change Schedule</h3>
                            <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>Template for Batch Upload of Change Schedule.</p>
                            <a href="../../Correction/Templates/DownloadTemplate?filename=ChangeSchedule.xlsx" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">DTR Form</h3>
                            <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>Template for Batch Upload of DTR.</p>
                            <a href="../../Correction/Templates/DownloadTemplate?filename=DTRForm.xlsx" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
               
            </div><!-- /.row -->

        </div>

        <div class="box-body">
        </div>
    </div>
</section>


@section Scripts{
    @*<script type="text/javascript">

        $(function () {
            window.location = "../../Correction/Templates/DownloadTemplate?filename=Columns.xlsx";
        })
    </script>*@

    }
