
@{
    ViewBag.Title = "WorkTimeSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Brothers_WMS.Models;
@using System.Data.SqlClient;
@using Brothers_WMS.Controllers;
@using System.Configuration;
@{
    string UserSection = string.Empty;
    if ((M_Users)(Session["user"]) != null)
    {
        M_Users UserInfo = (M_Users)(Session["user"]);
        UserSection = UserInfo.Section;
    }
    else
    {
        Url.Action("Logout", "Login");
    }
}
<style>
    .modal-open .ui-datepicker {
        z-index: 2000 !important
    }
    .resized2 {
        width: 146.813px !important;
    }

    .hehetable {
        border: 1px solid black;
    }

    .tablewew {
        border: 1px solid black !important;
        border-top-color: red !important;
        border-top: 1px solid black !important;
    }

    .Adjustbrand {
        font-size: 16px !important;
        font-weight: bold
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }

    .select2-selection__rendered {
        margin-right: 180px !important;
    }

    th {
        background-color: #D3D3D3 !important;
        font-weight: bold !important;
    }
</style>
<!-- Main CSS -->
<link href="~/Content2/css/main.css" rel="stylesheet" media="screen" />

@*<div class="box-body">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" href="@Url.Action("WorkTimeSummary", "WorkTimeSummary", new { area = "Summary" })" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Present and Absent</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("ChangeScheduleSummary", "ChangeScheduleSummary", new { area = "Summary" })" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Working Hours</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="@Url.Action("DTRSummary", "DTRSummary", new { area = "Summary" })" role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">OT Checking</span></a> </li>
        </ul>

    </div>*@

<section class="content-header">
    <h1>
        Attendance Summary
    </h1>
</section>
<section class="content">
    <div class="box box-primary">

        <div class="box-body pad">
            <form action="" method="POST" role="form" id="AttendanceSummary" autocomplete="off">
                <input type="hidden" class="form-control input-sm" name="ID" id="ID" readonly="">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon resized2">Month</span>
                                <select class="form-control step select2" id="Month" name="Month"></select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon resized2">Year</span>
                                <select class="form-control step select2" id="Year" name="Year"></select>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon resized2">Section</span>
                                <select class="form-control step select2" id="Section" name="Section"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon resized2">Company</span>
                                <select class="form-control step select2" id="BIPH_Agency" name="BIPH_Agency"></select>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="offset-md-8 col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="button" class="btn btn-flat bg-green btn-lg btn-block" id="Search">
                                    <i class="fa fa-search"></i> Generate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>



    <div class="row">

        <div class="col-md-12 col-lg-12">

            <ul class="nav nav-tabs" role="tablist" id="tabs">
                <li class="nav-item"> <a class="nav-link active reloadtbl" href="#PresentAbsent" data-toggle="tab" id="PAB">Present And Absent</a></li>
                <li class="nav-item"> <a class="nav-link reloadtbl" href="#DTRBreak" data-toggle="tab" id="DB">DTR Breakdown</a></li>
                <li class="nav-item" disabled> <a class="nav-link reloadtbl" href="#OTV" data-toggle="tab" id="OTM">Overtime</a></li>
                <li class="nav-item"> <a class="nav-link reloadtbl" href="#EmployeeSchedule" data-toggle="tab" id="ES">Employee Shift</a></li>
                <li class="nav-item"> <a class="nav-link reloadtbl" href="#EmployeeTime" data-toggle="tab" id="TTi">Employee TimeIn/Timeout</a></li>
                <li class="nav-item"> <a class="nav-link reloadtbl" href="#ABdetails" data-toggle="tab" id="AD">Absent Details</a></li>

       
                <li class="nav-item"> <a class="nav-link reloadtbl" href="#tapDetails" data-toggle="tab" id="TabD">Employee Tap</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane padhider active" id="PresentAbsent">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>

                                    <h3 class="box-title">Present and Absent</h3>


                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">



                                            <div class="box-body">
                                                <div class="row">
                                                    @*<section class="content-header ">
                                                            <h2>
                                                                <span class="changehead">Month</span>
                                                            </h2>
                                                        </section>*@
                                                </div>

                                                <div class="row theshow">
                                                    <div class="col-md-4">
                                                        <table class="table ">
                                                            <tr>
                                                                <td class="tablewew" colspan="3"><strong>ABSENT RATE <i class="fa fa-spinner fa-spin headspin"></i></strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>DS</strong></td>
                                                                <td class="tablewew"><span id="DStotal">0</span></td>
                                                                <td class="tablewew"><span id="DSper">0</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>NS</strong></td>
                                                                <td class="tablewew"><span id="NStotal">0</span></td>
                                                                <td class="tablewew"><span id="NSper">0</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>TOTAL</strong></td>
                                                                <td class="tablewew"><span id="total">0</span></td>
                                                                <td class="tablewew"><span id="per">0</span></td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <table class="table ">
                                                            <tr>
                                                                <td class="tablewew"><strong>MP Count <i class="fa fa-spinner fa-spin headspin"></i></strong></td>
                                                                <td class="tablewew"><strong>ML</strong></td>
                                                                <td class="tablewew"><strong>NW</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>DS</strong></td>
                                                                <td class="tablewew"><span id="MLDS">0</span></td>
                                                                <td class="tablewew"><span id="NWDS">0</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>NS</strong></td>
                                                                <td class="tablewew"><span id="MLNS">0</span></td>
                                                                <td class="tablewew"><span id="NWNS">0</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="tablewew"><strong>TOTAL</strong></td>
                                                                <td class="tablewew"><span id="totalML">0</span></td>
                                                                <td class="tablewew"><span id="totalNW">0</span></td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon resized">Date</span>
                                                                    <input type="text" class="form-control autof" id="DateAdjust" name="DateAdjust">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <span class="btn btn-flat btn-file bg-green btn-lg btn-block">
                                                                        <i class="fa fa-upload"></i> Upload Adjustment<input type="file" onchange="UploadAdjustment()" name="btnAdjustmentUpload" id="btnAdjustmentUpload" placeholder="(.xlsx)" accept=".xlsx">
                                                                    </span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <span class="btn btn-flat btn-file bg-green btn-lg btn-block">
                                                                        <a style="color:white" id="btnAdjustmentDownload"><i class="fa fa-download"></i> Download Leave Setting Template</a>
                                                                    </span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row theshow">
                                                    <div class="col-12">
                                                        <table id="AttenanceTbl" class="table table-bordered table-striped ">
                                                            <thead>

                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>

                <!-- /.tab-pane -->
                <div class="tab-pane padhider" id="DTRBreak">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">DTR Breakdown</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">



                                            <div class="box-body">


                                                <div class="row theshow">
                                                    <div class="col-12">
                                                        <table id="AttenanceTbl_WorkingHours" class="table table-bordered table-striped ">
                                                            <thead>

                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane padhider" id="OTV">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Overtime Breakdown</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">



                                            <div class="box-body">

                                                <div class="row theshow">
                                                    <div class="col-12">
                                                        <table id="AttenanceTbl_OTHours" class="table table-bordered table-striped ">
                                                            <thead>

                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.tab-pane -->


                <div class="tab-pane padhider" id="ABdetails">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Employee Absent Details</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">

                                        <div class="row theshow">
                                            <div class="box-body">
                                                <table class="table table-hover" id="AbsentDetailsTable">
                                                    <thead>

                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>


                <div class="tab-pane padhider" id="EmployeeSchedule">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Employee Schedule</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">



                                            <div class="box-body">


                                                <div class="row theshow">
                                                    <div class="col-12">
                                                        <table id="EmployeeShifttbl" class="table table-bordered table-striped ">
                                                            <thead>

                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>



                <div class="tab-pane padhider" id="EmployeeTime">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Employee Time in and Out</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">



                                            <div class="box-body">

                                                <div class="row theshow">
                                                    <div class="col-12">
                                                        <table id="Employeetimetbl" class="table table-bordered table-striped ">
                                                            <thead>

                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>


                <div class="tab-pane padhider" id="tapDetails">

                    <div class="row">
                        <div class="col">
                            <div class="box">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Employee Taps</h3>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="box">
                                            <div class="box-body pad">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon" style="width: 90px;">Date From</span>
                                                                <input type="text" class="form-control step fil" style="width:45px" id="DateFilter" name="DateFilter">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon" style="width: 90px;">Date To</span>
                                                                <input type="text" class="form-control step fil" style="width:45px" id="DateFilter2" name="DateFilter2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <select class="form-control" style="width: 168.789px !important;" name="Sectiontap" id="Sectiontap"></select>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                </div>

                                                <div class="">
                                                    <table class="table table-striped table-no-bordered table-hover" style="width:100%;" id="TapTable"></table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>



                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>

            </div>
            <!-- /.tab-content -->

        </div>
        <!-- /.col -->


    </div>



</section>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalPageAccess" aria-hidden="true" id="HRExportmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">HR Export Format</h5>
                    <button type="button" class="close" id="closepagemodal" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="POST" role="form" id="hrformat">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px">Date From</span>
                                    <input type="text" class="form-control" id="hrDateFrom" name="hrDateFrom">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px">Date To</span>
                                    <input type="text" class="form-control" id="hrDateTo" name="hrDateTo">
                                </div>

                            </div>
                        </div>
                        @*<div class="col-md-8">
                          

                        </div>*@

                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button id="ExportHRdata" type="button" class="btn btn-block btn-success btn-lg"><i class="fa fa-file-excel-o"></i> Export</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalPageAccess" aria-hidden="true" id="WrongShiftmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Wrong Shift Employees</h5>
                    <button type="button" class="close" id="closepagemodal" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="POST" role="form" id="wrongshiftformat">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px">Date From</span>
                                    <input type="text" class="form-control" id="wsDateFrom" name="wsDateFrom">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px">Date To</span>
                                    <input type="text" class="form-control" id="wsDateTo" name="wsDateTo">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100px">Shift</span>
                                    <select class="form-control" id="Shift" name="Shift">
                                        <option value="">All Shift</option>
                                        <option value="Day">Day Shift</option>
                                        <option value="Night">Night Shift</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        @*<div class="col-md-8">


        </div>*@

                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button id="Exportwsdata" type="button" class="btn btn-block btn-success btn-lg"><i class="fa fa-file-excel-o"></i> Export</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="ProcessModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Employee Process</h4>
                </div>
                <div class="modal-body fixed-modal-height div-chk-less-height">


                    <table id="ProcessTable" class="table table-bordered table-striped " style="width:100%">
                        <thead>
                            <tr>
                                <th>Line/Team</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody id="processtbl"></tbody>

                    </table>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn bg-blue btn-flat btn-block" id="updatePagebtn"><i class="fa fa-floppy-o"></i> Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{



    <script src="~/Scripts/pages/Lodash.js"></script>
    @*<script src="~/Content/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Content/Datatable/js/dataTables.fixedColumns.min.js"></script>


    <script src="~/Areas/Summary/Javascript/WorktimeSummary.js"></script>
    <script src="~/Areas/Summary/Javascript/WorktimeSummary_WorkingHours.js"></script>
    <script src="~/Areas/Summary/Javascript/WorktimeSummary_OTHoursBreakdown.js"></script>
    <script src="~/Areas/Summary/Javascript/WorktimeSummary_AbsentDetails.js"></script>
    <script src="~/Areas/Summary/Javascript/WorktimeSummary_EmployeeShift.js"></script>
    <script src="~/Areas/Summary/Javascript/WorktimeSummary_EmployeeTimeinOut.js"></script>

    <script src="~/Content/plugins/daterangepicker/moment.js"></script>

    <script src="~/Areas/Masters/Javascripts/Employeetap.js"></script>
}

